---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
AlignEscapedNewlines: Left
ReferenceAlignment: Left
PointerAlignment: Left
AllowAllArgumentsOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: false
    AfterControlStatement: false
    AfterEnum: false
    AfterFunction: false
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    AfterExternBlock: false
    BeforeCatch: false
    BeforeElse: false
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
BreakBeforeTernaryOperators: false
PackConstructorInitializers: CurrentLine
BreakConstructorInitializers: AfterColon 
ConstructorInitializerIndentWidth: 4
ColumnLimit: 200
IndentExternBlock: Indent
FixNamespaceComments: false
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
SortIncludes: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpaceBeforeCpp11BracedList: true
SpacesInContainerLiterals: false
SpaceAfterTemplateKeyword: false
Cpp11BracedListStyle: true
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: Always
BreakInheritanceList: AfterColon
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
SpacesInLineCommentPrefix:
    Minimum: 0
    Maximum: 1
...
